# Create a copy of this file and rename it to '.env'
# Add your Hugging Face API token below. You can get one for free at https://huggingface.co/settings/tokens
HUGGINGFACEHUB_API_TOKEN=your_token_here
